.idea/
.streamlit/
__pycache__/
.ipynb_checkpoints/
158bit_digit_recognition.ipynb
models/
brainy02.webp
brainy03.webp
data/
default.sqlite
digit0.png
digit1.png
digit2.png
digit7.png
gd.py
gd2.py
gd4.py
liv.py
main.py
mmm.py
model_weights-1.0.1.pth
model_weights-1.0.2.pth
nn01.py
openai-env/
ppinion.py
torch-cuda.py
utils.py
